In [44]:
# Task 1: Create three dataframes (Project, Employee, Seniority) and save as CSV files
import pandas as pd
import numpy as np 
# Step 1: import pandas library to handle data
# step 2: Create the Project Table as a DataFrame
project_df = pd.DataFrame({'ID':['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
                           'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
                           'Cost': [1002000, 2000000, 4500000, 5500000, np.nan , 680000, 400000, 350000, np.nan , 300000, 2000000,1000000,3000000, 200000],
                           'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']})
# step 3: Create the Employee Table as a DataFrame

employee_df = pd.DataFrame({'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
                            'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
                            'Gender': ['M', 'F', 'M', 'F', 'F'],
                            'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid',],
                            'Age':[25, 27, 29, 31, 30]})

# step 4: Create the Seniority Table as a DataFrame
seniority_df = pd.DataFrame({'ID':['A001', 'A002', 'A003', 'A004', 'A005'],
                             'Designation Level': [2, 2, 3, 2, 3]})


# step 5: Save all 3 DataFrames as seprate CSV files in the current directory
project_df.to_csv('project_table.csv', index=False)   # Save Project Table
employee_df.to_csv('employee_table.csv', index=False)   # Save Employee Table
seniority_df.to_csv('seniority_table.csv', index=False)   # Save Seniority Table

In [45]:
# Task 2 

# Step 1: Read the project table
df = pd.read_csv('project_table.csv')

# Step 2: List to store previous known cost values
costs = []

# Step 3: Loop through each row
for i in range(len(df)):
    if pd.isna(df.loc[i, 'Cost']):
        # Only replace if we have previous values
        if costs:
            df.loc[i, 'Cost'] = sum(costs) / len(costs)
        # else: leave it as NaN (first value or no data yet)
    if pd.notna(df.loc[i, 'Cost']):
        # Add the current value (original or filled) to costs
        costs.append(df.loc[i, 'Cost'])

# Step 4: Save the updated DataFrame
df.to_csv('project_table_updated.csv', index=False)

# Step 5: Print confirmation
print(df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [46]:
# Task 3: Split the 'Name' column into two new columns 
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ',n=1, expand=True)
# Drop the original 'Name' Column
employee_df.drop(columns=['Name'], inplace=True)
# Reorder columns
employee_df = employee_df[['ID', 'First Name', 'Last Name', 'Gender', 'City', 'Age']]
print(employee_df)

     ID First Name  Last Name Gender     City  Age
0  A001       John      Alter      M    Paris   25
1  A002      Alice  Luxumberg      F   London   27
2  A003        Tom  Sabestine      M   Berlin   29
3  A004       Nina      Adgra      F  Newyork   31
4  A005        Amy      Johny      F   Madrid   30

In [47]:
# Task 4:
# Step 1: Join all the three dataframe in one single dataframe. Name it 'Final'
Final = pd.merge(employee_df, seniority_df, on='ID', how= 'inner')
Final = pd.merge(Final, project_df,on='ID', how='inner')
# Optional: Print the combined Final
print(Final)

      ID First Name  Last Name Gender     City  Age  Designation Level  \
0   A001       John      Alter      M    Paris   25                  2
1   A001       John      Alter      M    Paris   25                  2
2   A001       John      Alter      M    Paris   25                  2
3   A002      Alice  Luxumberg      F   London   27                  2
4   A002      Alice  Luxumberg      F   London   27                  2
5   A003        Tom  Sabestine      M   Berlin   29                  3
6   A003        Tom  Sabestine      M   Berlin   29                  3
7   A003        Tom  Sabestine      M   Berlin   29                  3
8   A004       Nina      Adgra      F  Newyork   31                  2
9   A004       Nina      Adgra      F  Newyork   31                  2
10  A004       Nina      Adgra      F  Newyork   31                  2
11  A005        Amy      Johny      F   Madrid   30                  3
12  A005        Amy      Johny      F   Madrid   30                  3
13  A005        Amy      Johny      F   Madrid   30                  3

       Project       Cost    Status
0    Project 1  1002000.0  Finished
1    Project 9        NaN   Ongoing
2   Project 11  2000000.0    Failed
3    Project 2  2000000.0   Ongoing
4    Project 6   680000.0    Failed
5    Project 3  4500000.0  Finished
6    Project 8   350000.0    Failed
7   Project 10   300000.0  Finished
8    Project 4  5500000.0   Ongoing
9   Project 12  1000000.0   Ongoing
10  Project 13  3000000.0  Finished
11   Project 5        NaN  Finished
12   Project 7   400000.0  Finished
13  Project 14   200000.0  Finished

In [48]:
# Task 5: Assuming 'Final' DataFrame already exists
# Assuming 'project_table' contains columns ['employee_id', 'status', 'cost']

# Step 1: Add a 'Bonus' column, initialized to 0
Final['Bonus'] = 0

# Step 2: Calculate 5% bonus only if the status is 'Finished'
Final.loc[Final['Status'].str.strip().str.lower() == 'finished', 'Bonus'] = Final['Cost'] * 0.05

# Step 3: Save the updated DataFrame (optional)
Final.to_csv('Final_table_with_bonus.csv', index=False)

# Step 4: Print the result
print(Final)

      ID First Name  Last Name Gender     City  Age  Designation Level  \
0   A001       John      Alter      M    Paris   25                  2
1   A001       John      Alter      M    Paris   25                  2
2   A001       John      Alter      M    Paris   25                  2
3   A002      Alice  Luxumberg      F   London   27                  2
4   A002      Alice  Luxumberg      F   London   27                  2
5   A003        Tom  Sabestine      M   Berlin   29                  3
6   A003        Tom  Sabestine      M   Berlin   29                  3
7   A003        Tom  Sabestine      M   Berlin   29                  3
8   A004       Nina      Adgra      F  Newyork   31                  2
9   A004       Nina      Adgra      F  Newyork   31                  2
10  A004       Nina      Adgra      F  Newyork   31                  2
11  A005        Amy      Johny      F   Madrid   30                  3
12  A005        Amy      Johny      F   Madrid   30                  3
13  A005        Amy      Johny      F   Madrid   30                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9        NaN   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5        NaN  Finished       NaN
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

In [49]:
# Task 6 # Step 1: Demote designation level by 1 where status is 'Failed'
for i in range(len(Final)):
    if str(Final.loc[i, 'Status']).strip().lower() == 'failed':  # case-insensitive check
        Final.loc[i, 'Designation Level'] -= 1  # Demote (decrease by 1)

# Step 2: Remove records where Designation Level > 4
Final = Final[Final['Designation Level'] <= 4]

# Reset index after deletion (optional but recommended)
Final.reset_index(drop=True, inplace=True)

# Print result
print(Final)

      ID First Name  Last Name Gender     City  Age  Designation Level  \
0   A001       John      Alter      M    Paris   25                  2
1   A001       John      Alter      M    Paris   25                  2
2   A001       John      Alter      M    Paris   25                  1
3   A002      Alice  Luxumberg      F   London   27                  2
4   A002      Alice  Luxumberg      F   London   27                  1
5   A003        Tom  Sabestine      M   Berlin   29                  3
6   A003        Tom  Sabestine      M   Berlin   29                  2
7   A003        Tom  Sabestine      M   Berlin   29                  3
8   A004       Nina      Adgra      F  Newyork   31                  2
9   A004       Nina      Adgra      F  Newyork   31                  2
10  A004       Nina      Adgra      F  Newyork   31                  2
11  A005        Amy      Johny      F   Madrid   30                  3
12  A005        Amy      Johny      F   Madrid   30                  3
13  A005        Amy      Johny      F   Madrid   30                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9        NaN   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5        NaN  Finished       NaN
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

In [33]:
# Task 7
Final.columns = Final.columns.str.strip()
# Step 1 Add 'Mr. ' or 'Mrs. ' based on Gender column
Final['First Name'] = Final.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)
# Step 2: Drop the Gender Column
Final.drop(columns=['Gender'], inplace=True)
# Step 3: Print final result
print(Final)

      ID  First Name  Last Name     City  Age  Designation Level     Project  \
0   A001    Mr. John      Alter    Paris   25                  2   Project 1
1   A001    Mr. John      Alter    Paris   25                  2   Project 9
2   A001    Mr. John      Alter    Paris   25                  1  Project 11
3   A002  Mrs. Alice  Luxumberg   London   27                  2   Project 2
4   A002  Mrs. Alice  Luxumberg   London   27                  1   Project 6
5   A003     Mr. Tom  Sabestine   Berlin   29                  3   Project 3
6   A003     Mr. Tom  Sabestine   Berlin   29                  2   Project 8
7   A003     Mr. Tom  Sabestine   Berlin   29                  3  Project 10
8   A004   Mrs. Nina      Adgra  Newyork   31                  2   Project 4
9   A004   Mrs. Nina      Adgra  Newyork   31                  2  Project 12
10  A004   Mrs. Nina      Adgra  Newyork   31                  2  Project 13
11  A005    Mrs. Amy      Johny   Madrid   30                  3   Project 5
12  A005    Mrs. Amy      Johny   Madrid   30                  3   Project 7
13  A005    Mrs. Amy      Johny   Madrid   30                  3  Project 14

         Cost    Status
0   1002000.0  Finished
1         NaN   Ongoing
2   2000000.0    Failed
3   2000000.0   Ongoing
4    680000.0    Failed
5   4500000.0  Finished
6    350000.0    Failed
7    300000.0  Finished
8   5500000.0   Ongoing
9   1000000.0   Ongoing
10  3000000.0  Finished
11        NaN  Finished
12   400000.0  Finished
13   200000.0  Finished

In [34]:
# Task 8 Step 1: Promote Designation Level by 1 where Age > 29
Final['Designation Level'] = Final.apply(
    lambda row: row['Designation Level'] + 1 if row['Age'] > 29 else 
row['Designation Level'], 
    axis=1
)
# Step 2 Print the updated DataFrame
print(Final)

      ID  First Name  Last Name     City  Age  Designation Level     Project  \
0   A001    Mr. John      Alter    Paris   25                  2   Project 1
1   A001    Mr. John      Alter    Paris   25                  2   Project 9
2   A001    Mr. John      Alter    Paris   25                  1  Project 11
3   A002  Mrs. Alice  Luxumberg   London   27                  2   Project 2
4   A002  Mrs. Alice  Luxumberg   London   27                  1   Project 6
5   A003     Mr. Tom  Sabestine   Berlin   29                  3   Project 3
6   A003     Mr. Tom  Sabestine   Berlin   29                  2   Project 8
7   A003     Mr. Tom  Sabestine   Berlin   29                  3  Project 10
8   A004   Mrs. Nina      Adgra  Newyork   31                  3   Project 4
9   A004   Mrs. Nina      Adgra  Newyork   31                  3  Project 12
10  A004   Mrs. Nina      Adgra  Newyork   31                  3  Project 13
11  A005    Mrs. Amy      Johny   Madrid   30                  4   Project 5
12  A005    Mrs. Amy      Johny   Madrid   30                  4   Project 7
13  A005    Mrs. Amy      Johny   Madrid   30                  4  Project 14

         Cost    Status
0   1002000.0  Finished
1         NaN   Ongoing
2   2000000.0    Failed
3   2000000.0   Ongoing
4    680000.0    Failed
5   4500000.0  Finished
6    350000.0    Failed
7    300000.0  Finished
8   5500000.0   Ongoing
9   1000000.0   Ongoing
10  3000000.0  Finished
11        NaN  Finished
12   400000.0  Finished
13   200000.0  Finished

In [35]:
# Task 9 Step 1: Group by ID and First Name and sum the Project Cost
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
# Step 2: Rename the column 
TotalProjCost.rename(columns={'Cost': 'Toatl Cost'}, inplace=True)
# Step 3: Print the new DataFrame
print(TotalProjCost)

     ID  First Name  Toatl Cost
0  A001    Mr. John   3002000.0
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy    600000.0

In [36]:
# Task 10: Filter employee where city name contains the letter "o"
filtered_data = Final[Final['City'].str.contains('o', case=False, na=False)]
# Print the result
print(filtered_data)

      ID  First Name  Last Name     City  Age  Designation Level     Project  \
3   A002  Mrs. Alice  Luxumberg   London   27                  2   Project 2
4   A002  Mrs. Alice  Luxumberg   London   27                  1   Project 6
8   A004   Mrs. Nina      Adgra  Newyork   31                  3   Project 4
9   A004   Mrs. Nina      Adgra  Newyork   31                  3  Project 12
10  A004   Mrs. Nina      Adgra  Newyork   31                  3  Project 13

         Cost    Status
3   2000000.0   Ongoing
4    680000.0    Failed
8   5500000.0   Ongoing
9   1000000.0   Ongoing
10  3000000.0  Finished